#containerJogo{
    display: flex;
}
.linha{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid red;
    height: 300px;
    width: 50px;
}

.preto{
    background-color: black;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.vermelho{
    background-color: red;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}