:root{
    --distance: -200px;
    --fall-time: 0.5s;
    --bounce: -20px;
    --roxo: #56597A;
}

/* Estilização das opçôes de cores do jogador */
.azul{
    background-color: #77ABD9;
    color: black;
}
.rosa{
    background-color: #F28DBC;
    color: black;
}
.bege{
    background-color: #F2C46D;
    color: black;
}
.cinzaescuro{
    background-color: #535773;
    color: black;
}
.roxoescuro{
    background-color: #58465F;
    color: black;
}
.roxoclaro{
    background-color: #BA9097;
    color: black;
}
.salmao{
    background-color:#F2A894;
    color: black;
}
.opPreto{
    background-color: black;
    color: white;
}


/* CRIAÇÃO E ESTILIZAÇÃO DO MODAL INICIAL */

body {
    font-family: 'Ropa Sans', sans-serif;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
}
.modal-body {
    position: absolute;
    color: black;
    background-color: #bdbbc4;
    width: 80%;
    height: 98%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-title {
    background-color: var(--roxo);
    padding: 0.75rem;
    text-align: center;
    color: white;
}

.modal-explanation {
    padding: 0.75rem;
}
.modal-main-content {
    padding: 0.75rem;
}

    .modal-main-content label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .modal-main-content label input {
            margin-bottom: 0.5rem;
            padding: 0.25rem;
            width: 75%;
            margin-top: 0.25rem;
            align-self: center;
        }

        .modal-main-content label button {
            padding: 0.5rem;
            background-color: #f7d16f;
            border: none;
            cursor: pointer;
            font-variant: small-caps;
            font-family: 'Ropa Sans', sans-serif;
            width: 25%;
        }

        .modal-main-content label select {
            margin: 0.75rem 0 0.75rem 0;
            width: 50%;
            align-self: center;
        }

.disabled{
    background-color: lightgray;
    color: rgb(124, 124, 124);
}

.modal-devs {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 172vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
}

.modal-devs-body {
    position: absolute;
    color: black;
    background-color: #bdbbc4;
    width: 80%;
    height: 58%;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

#icone {
    font-size: 1.5rem;
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
}

#sobreOsDevs {
    cursor: pointer;
}

.modal-devs-title {
    background-color: #74a3d7;
}

.modal-devs-main {
    display: flex;
    flex-direction: column;
}

.dev-flex {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.modal-devs-title {
    padding: 1rem;
    text-align: center;
}

.modal-devs-main figure img {
    width: 5rem;
    border-radius: 100%;
}

.nome {
    margin-bottom: 0.5rem;
    color: #57455e;
}

.modal-devs-main span {
    padding: 0.5rem;
}

.animation-devs-right {
    position: absolute;
    left: -100vw;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
}

@keyframes slide {
    100% { left: 0; }
}

header {
    background-color: var(--roxo);
    height: 12vh;
    display: flex;
    justify-content: space-around;
    color: white;
}

header p {
    display: flex;
    align-items: center;
}

header figure {
    display: flex;
    align-items: center;
}

header figure img {
    width: 25px;
    margin-right: 0.5rem;
}

#jogador {
    text-align: center;
    padding: 1rem;
}

#containerJogo{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.linha{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--roxo);
    height: 245px;
    width: 43px;
}

.linha:not(:last-child){
    border-right: none;
}

.disco{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.preto{
    background-color: black;
}

.Roxo Claro{
    background-color: #BA9097;
}

.msgVitoria{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    --player-name: '';
}

.showElement{
    animation: showElement 1s;
    opacity: 1;
    display: block;
}

.msgVitoria::after{
    content: var(--player-name);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 140px;
    background-color: #f087b1;
    z-index: 0;
    font-size: 30px;
    text-align: center;
    line-height: 140px;
    border-radius: 25px;
}

.resetButton{
    position: absolute;
    top: calc(20% + 140px);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: #f7d16f;
    margin-top: 0.5rem;
    cursor: pointer;
    font-family: 'Ropa Sans', sans-serif;

}

.discDrop{
    animation: discDrop var(--fall-time) ease-in;
}

@keyframes showElement {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes discDrop {
    0%{
        transform: translateY(var(--distance));
    }
    70%{
        transform: translateY(0);
    }
    85%{
        transform: translateY(var(--bounce));
    }
    100%{
        transform: translateY(0);
    }
}

.infos {
    text-align: center;
    padding: 1rem;
}

.infos figure img {
    width: 15rem;
}

.infos ol p {
    margin-bottom: 0.5rem;
}

.infos ol {
    text-align: initial;
}

    .infos ol li {
        margin-top: 0.75rem;
    }

footer {
    background-color: var(--roxo);
    padding: 1rem;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 768px) {

    .modal-body {
        width: 55%;
        height: 85%;
        top: 49%;
    }

    .modal-devs {
        height: 101vh;
    }

    .modal-devs-body {
        width: 65%;
        height: 70%;
        top: 45%;
    }
    
    .container_flex {
        display: flex;
        margin: 0 1rem 0 1rem;
    }

    .container_jogo-jogador {
        margin-top: 1rem;
    }

    .msgVitoria {
        width: 100%;
        z-index: 1;
        left: 1px;
    }

    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }  
    }

    .animation {
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
    }

    footer {
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .modal-body {
        width: 35%;
        height: 65%;
    }

    .modal-devs-body {
        width: 50%;
    }
    
    .container_flex {
        justify-content: space-around;
    }

    .container-regras {
        max-width: 23rem;
    }
    .linha {
        width: 65px;
        height: 400px;
    }

    .disco {
        width: 62px;
        height: 62px;
        margin-bottom: 2px;
    }

    body {
        height: 100vh;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}


@media only screen and (min-width: 1440px) {
    .container_flex {
        justify-content: space-evenly;
    }
    .linha {
        width: 75px;
        height: 460px;
    }

    .disco {
        width: 73px;
        height: 73px;
    }

    body {
        height: 100vh;
    }
}
